<a href="https://colab.research.google.com/github/thzafiris/test02/blob/main/test01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Heading 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/gdrive',force_remount=True)

Mounted at /content/gdrive

In [55]:
import pandas as pd
data=pd.read_csv("API_report-2022-10-13.csv", sep=';')
data.columns =['date', 'time', 'username', 'msg', 'OMT']
mar = pd.DataFrame([['username', 'entry', 'modif', 'modifall', 'OMTs'],['cxtest01', 0, 10, 0, 10]])
#set column names equal to values in row index position 0
mar.columns = mar.iloc[0]

#remove first row from DataFrame
mar = mar[1:]

for i in data['username'] : 
  for j in data['msg'] :  
    if j =='OrdrEntry' :
      new_row = {'username': i , 'entry': 'OMT' , 'modif':0, 'modifall':0, 'OMTs':0}
    elif j =='OrdrModify' :
      new_row = {'username': i , 'entry':0 , 'modif':'OMT', 'modifall':0, 'OMTs':0}
    elif j =='ModifyAllOrdrs' :
      new_row = {'username': i , 'entry':0 , 'modif':0, 'modifall':'OMT', 'OMTs':0}
  mar = mar.append(new_row, ignore_index=True)
#data.head()
mar = mar.drop_duplicates()
mar

      username entry modif modifall OMTs
0     cxtest01     0    10        0   10
1     CXABMP01     0   OMT        0    0
2     CXAESE02     0   OMT        0    0
4     CXANEE01     0   OMT        0    0
6     CXBAWA01     0   OMT        0    0
...        ...   ...   ...      ...  ...
4250  CXWASP26     0   OMT        0    0
4363  CXZHLZ05     0   OMT        0    0
4486  CXZHLZ03     0   OMT        0    0
4570  CXVITL15     0   OMT        0    0
4573  CXVITL22     0   OMT        0    0

[242 rows x 5 columns]

In [5]:
! echo "ff"> data.txt

Creating a file

In [7]:
data2= open("data2.txt","w" )
data2.write("text in body")
data2.close()

In [9]:
ls -1

data2.txt
data.txt
sample_data/

In [10]:
cat data.txt

ff

In [13]:
df = pd.read_fwf('API_report-2022-10-13test')
print(df)

    <?xml version="1.0" encoding="UTF-8" standalone="yes"?> Unnamed: 1  \
0    <!--Deutsche Boerse AG - All rights reserved. ...              or
1      <tc540 xmlns="http://deutsche-boerse.de/m7-re">             NaN
2                                             <rptHdr>             NaN
3                              <exchNam>ELTS</exchNam>             NaN
4                                 <envText>D</envText>             NaN
..                                                 ...             ...
149                     <ordrValCode>GFS</ordrValCode>             NaN
150           <applicationId>COTRPUV_0</applicationId>             NaN
151  <text>n5s3iGFs5xu|SimpleOrderEpex|strategy_slo...             NaN
152                                   <aot>false</aot>             NaN
153                                        </tc540Rec>             NaN

    Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5    Unnamed: 6    Unnamed: 7  \
0         part         of         it         or  unauthorized  distribution
1          NaN        NaN        NaN        NaN           NaN           NaN
2          NaN        NaN        NaN        NaN           NaN           NaN
3          NaN        NaN        NaN        NaN           NaN           NaN
4          NaN        NaN        NaN        NaN           NaN           NaN
..         ...        ...        ...        ...           ...           ...
149        NaN        NaN        NaN        NaN           NaN           NaN
150        NaN        NaN        NaN        NaN           NaN           NaN
151        NaN        NaN        NaN        NaN           NaN           NaN
152        NaN        NaN        NaN        NaN           NaN           NaN
153        NaN        NaN        NaN        NaN           NaN           NaN

    Unnamed: 8 Unnamed: 9  ...   Unnamed: 27 Unnamed: 28 Unnamed: 29  \
0           of        the  ...  intellectual    property          of
1          NaN        NaN  ...           NaN         NaN         NaN
2          NaN        NaN  ...           NaN         NaN         NaN
3          NaN        NaN  ...           NaN         NaN         NaN
4          NaN        NaN  ...           NaN         NaN         NaN
..         ...        ...  ...           ...         ...         ...
149        NaN        NaN  ...           NaN         NaN         NaN
150        NaN        NaN  ...           NaN         NaN         NaN
151        NaN        NaN  ...           NaN         NaN         NaN
152        NaN        NaN  ...           NaN         NaN         NaN
153        NaN        NaN  ...           NaN         NaN         NaN

    Unnamed: 30 Unnamed: 31 Unnamed: 32 Unnamed: 33 Unnamed: 34 Unnamed: 35  \
0            DB         and         all      rights     therein         are
1           NaN         NaN         NaN         NaN         NaN         NaN
2           NaN         NaN         NaN         NaN         NaN         NaN
3           NaN         NaN         NaN         NaN         NaN         NaN
4           NaN         NaN         NaN         NaN         NaN         NaN
..          ...         ...         ...         ...         ...         ...
149         NaN         NaN         NaN         NaN         NaN         NaN
150         NaN         NaN         NaN         NaN         NaN         NaN
151         NaN         NaN         NaN         NaN         NaN         NaN
152         NaN         NaN         NaN         NaN         NaN         NaN
153         NaN         NaN         NaN         NaN         NaN         NaN

      Unnamed: 36
0    reserved.-->
1             NaN
2             NaN
3             NaN
4             NaN
..            ...
149           NaN
150           NaN
151           NaN
152           NaN
153           NaN

[154 rows x 37 columns]

# New Section